@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;

}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

h1{
    font-size: clamp(18px, 2vw, 36px);
}
p{
    font-size: clamp(12px, 1.5vw, 16px);
}

// body{
//     overflow: visible;
// }

.tint {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.216);
  }
  width: 100%;
  height: 100vh;

  background-image: url(./Images/banner1.avif);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
}
header {
   
    ul {
      margin: 0;
      display: none;
    }
    a {
      color: black;
    }
  }
  nav{
    background-color: white;
  }

.tinted {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.332);
}

.navbar-expand-lg .navbar-collapse {
  padding-left: 200px;
}
.navbar-brand {
  padding: 0 0;
  .logo {
    height: 50px;
    width: 100px;
  }
}
.navbar{
    margin-bottom: 0;
}

.moto {
  max-width: 500px;
  width: 100%;

  margin: 0 auto;
}

footer {
  position: relative;
  background-color: rgb(77, 73, 73);
  a {
    color: white;
  }

  .box {
    // width: 400px;
    height: 35px;
    position: relative;
    h3::before {
      content: "";
      width: 70px;
      height: 2px;
      background-color: red;
      position: absolute;
      top: 100%;
    }
  }
}

.imgbox {
//   width: 350px;
  height: 300px;

  position: relative;
  overflow: hidden;
  .imgns {
    display: block;
    position: absolute;
    width: 350px;
    height: 300px;
    transition: 0.9s;
    &:hover {
      scale: 1.2;
    }
  }
}

.sticky {
  background-color: grey;
  color: white;
}


@media (max-width:480px){

    header{
        display: none;
    }

    .pan{
        display: none;
    }
   

}

@media (min-width:481px) and (max-width:768px){


}

@media(min-width:769px){


}